SETTLEMESH_BASE_URL=https://www.settlemesh.io
SETTLEMESH_API_KEY=your_merchant_api_key
SETTLEMESH_WEBHOOK_SECRET=your_webhook_secret
MERCHANT_APP_URL=http://127.0.0.1:4020
DEFAULT_CHECKOUT_AMOUNT_CREDIT=50
PORT=4020
